


<div class="row">
	<div class="col-lg-2">
		<img src="http://placehold.it/120x120">
	</div>

	<div class="col-lg-6">
		<form>
			<fieldset>
				<legend>Contacto</legend>
				<div class="form-group">
					<label for="txtCode">C&oacute;digo</label>
		      		<input type="text" class="form-control" id="txtCode" placeholder="C&oacute;digo">
				</div>
				<div class="form-group">
					<label for="txtName">Nombre</label>
		      		<input type="text" class="form-control" id="txtName" placeholder="Nombre Empresa">
				</div>
				<div class="form-group">
					<label for="txtRepresentant">Representante</label>
		      		<input type="text" class="form-control" id="txtRepresentant" placeholder="Representante Legal">
				</div>
				<div class="form-group">
					<label for="txtCity">Ciudad</label>
		      		<input type="text" class="form-control" id="txtCity" placeholder="Ciudad">
				</div>
				<div class="form-group">
					<label for="txtCountry">Pa&iacute;s</label>
		      		<input type="text" class="form-control" id="txtCountry" placeholder="Pa&iacute;s">
				</div>
				<div class="form-group">
					<label for="txtPhoneNumber">Tel&eacute;fono</label>
		      		<input type="text" class="form-control" id="txtPhoneNumber" placeholder="Tel&eacute;fono">
				</div>
				<div class="form-group">
					<label for="txtFaxNumber">Fax</label>
		      		<input type="text" class="form-control" id="txtFaxNumber" placeholder="Fax">
				</div>
				<div class="form-group">
					<label for="txtMobileNumber">Celular</label>
		      		<input type="text" class="form-control" id="txtMobileNumber" placeholder="Celular">
				</div>
				<div class="form-group">
					<label for="txtWebsite">Web</label>
		      		<input type="text" class="form-control" id="txtWebsite" placeholder="Website">
				</div>
				<div class="form-group">
					<label for="txtFacebook">Facebook</label>
		      		<input type="text" class="form-control" id="txtFacebook" placeholder="Facebook Page">
				</div>
				<div class="form-group">
					<label for="txtTwitter">Twitter</label>
		      		<input type="text" class="form-control" id="txtTwitter" placeholder="Twitter">
				</div>
				
				<button class="btn btn-default" type="button">Guardar</button>
				<button class="btn btn-default" type="button">Cancelar</button>
			</fieldset>
		</form>
	</div>
	<div class="col-lg-4">
	</div>
</div>